/* HEX 
$color1: #62a0cbff;
$color2: #f1e3f3ff;
$color3: #b78db5ff;
$color4: #b2ffd6ff;
$color5: #bea2f9ff;
$color6: #d500f9;
*/

html{
    font-family: 'Source Serif Pro', serif;

}



/*@font-face {
    font-family: nombreDeMiFuente;
    src: url(archivoFuente/fuente.woff);
}*/

a{
    text-decoration: none;
    color:#D500F9;
}

a:hover {

 opacity: 0.2;
}

    a:focus {
        background:#bea2f9ff;
        opacity:0.5;
    }

.title{
    text-transform: uppercase;
    text-align: center;
}

.container{
    background: #7F7FD5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height:100vh;
    display: flex;
    align-items:center;
    justify-content:center;
}


.content{
    max-width:960px;
    max-height:500px;
    width:100%;
    height:100%;
    background-color:white;
    box-shadow:0 6px 9px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 4px;
    position:relative;
    padding:1.8em;
} 

.actions{
    position:absolute;
    top:1em;
    right:1em;
}

.close{
    height:40px;
    width:40px;
    color:white;
    border-radius:50%;
    background-color:#7F7FD5;
    display:inline-block;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    cursor:pointer;
    display:flex;
    align-items:center;
    justify-content:center;
}
.paragraph{
    line-height: 1.8em;
    font-weight: 400;
    font-size: 1.5em;
}


.fa-star, .fa-star-o{
    color: #ffc400;
}

p {

    color:black;
}

.table {
    width: 100%;
    border-spacing: 0;
}

.table td, .table th{
    padding: 1em;
    text-align: left;

}

.table tr:nth-child(even){
background-color: #bea2f9ff;

}
  
.title-item{
    /*border-bottom-style: solid;
    border-width: 3px;
    border-color: #91EAE4;*/
    border-bottom: solid 2px #7F7FD5;
    padding-bottom: 1em;
    font-size:2em;
}

.main-image{
    float:left;
    margin-right: 3em;
    height: 150px;
}

.address{
    font-weight:bold;
    color:#7F7FD5;
    font-size:0.9em;
}


.mapita{
    font-weight:bold;
    color:#7F7FD5;
    font-size:1.0em;
    margin-left: 0.2em;
}

.position{
    background-color:#7F7FD5;
    color: white;
    padding: 10px;
    border-radius: 4px;
    margin-right: 0.5em;
    border-radius: 4px;
}

.maps{
    text-align:center;
   }

/*th{
    border:solid 2px;
    border-color: #
}*/

i{
padding-right: 2px;
padding-left:2px;
}

.socialmedia{

    position: absolute;
    right:0px;
    bottom:0px;
}

.iconsocial{
    display:flex;
}

.fa-facebook, .fa-instagram, .fa-twitter, .fa-telegram, .fa-linkedin{
    color: #D500F9;
    margin: 1em;
}
